



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Wrapper{
  background-color: rgb(163, 13, 13);
  padding: 30px;
  border-radius: 20%;
  box-shadow: 0 10px 15px 0 green;
}

.Input-wrapper {
  color: #61dafb;
display: flex;
justify-content: space-between;
width: 200px;
margin-bottom: 100px;
align-items: center;
}

.Input-wrapper input{
  border-radius: 4%;
  border: 0;
  background-color:green ;
  width: 160px;
  padding:6px;
  
}

.Input-wrapper button{
/* width: 20px;
height: 20px; */
border-radius: 30%;
padding: 0;
}